body {
    background: url(../images/bg-footer-noise.jpg);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
p {
    line-height: 14px;
    margin: 0 0 8px;
    padding: 0;
}
.example {
    bottom: 10px;
    left: 10px;
    min-width: 300px;
    position: absolute;
    right: 10px;
    top: 10px;
}/*
.title {
    font-size: 18px;
    font-weight: bold;
}*/
#nick-name-form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 10px;
}
#nick-name-form input {
    flex: auto;
}
#nick-name-form input[type="text"] {
    flex-grow: 3;
}
#nick-name {
    margin-right: 5px;
}
#room-form {
    bottom: 0;
    display: none;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
}
#room-selector {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
#room-form input,
#room-form select {
    flex: auto;
}
#room-form select {
    flex-grow: 2;
}
#room-form input[type="text"] {
    flex-grow: 4;
}
#room-form input[type="button"],
#room-form input[type="submit"] {
    flex-grow: 1;
    margin-left: 5px;
}
#message-box {
    display: none;
}
.textbox {
    background: #666;
    border: 1px solid #999;
    border-radius: 3px;
    bottom: 40px;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 100px;
}

.textbox div {
    height: 100%;
    overflow: auto;
}
